@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Oswald:wght@200..700&display=swap');

@import "tailwindcss";


@theme {
  --color-primary: #333130;
  --color-secondary: #5C5C5C;
  --color-brand-gray-100: #E0DFDB;
  --color-brand-gray-200: #B0B0B0;
  --color-solo-body: #ECEBE7;
  /* Fonts */
  --font-oswald: 'Oswald';
  --font-manrope: 'Manrope';
  /* Font Size */
  --text-solo-13: 0.8125rem;
  --text-solo-22: 1.375rem;
  --text-solo-26: 1.625rem;
  --text-solo-28: 1.75rem;
  --text-solo-32: 2rem;
  --text-solo-70: 4.375rem;
  /* Breakpoints */
  --breakpoint-xs: 33.5rem;
  --breakpoint-xxl: 90rem; 
  --breakpoint-2xl: 100rem; 
}

@layer base {
  html {
    @apply scroll-smooth
  }

  body {
    @apply overflow-x-hidden bg-solo-body font-manrope text-secondary leading-none
  }

  button {
    @apply cursor-pointer
  }
  h1, h2, h3, h4, h5, h6 {
    @apply text-primary font-oswald
  }
}

@utility container-base {
  @apply max-w-454 mx-auto px-3 md:px-5 lg:px-7
}

@utility text-hover-primary {
  @apply text-secondary transition duration-300 hover:text-primary
}

@utility text-hover-secondary {
  @apply text-primary transition duration-300 hover:text-secondary
}

@utility text-hover-underline {
  @apply decoration-transparent underline underline-offset-4 transition duration-200 hover:decoration-current
}

@utility bg-hover-primary {
  @apply text-white bg-primary transition duration-300 hover:bg-primary/75
}

@utility border-hover-secondary {
  @apply border border-transparent transition duration-300 hover:border-secondary
}

@utility hover-opacity-75 {
  @apply transition duration-300 hover:opacity-75
}

@utility hover-scale-105 {
  @apply size-full object-cover transition duration-300 group-hover:scale-105
} 

.reviews-slider-section .swiper-pagination-bullet, 
.current-slider .swiper-pagination-bullet 
{
  @apply !w-3.75 !h-0.5 lg:!w-5 lg:!h-0.75 !rounded-none !bg-brand-gray-200
}

.reviews-slider-section .swiper-pagination-reviews .swiper-pagination-bullet-active,
.current-slider .swiper-pagination-current .swiper-pagination-bullet-active
 {
  @apply !bg-secondary
}

.reviews-slider-section .swiper-button-disabled,
.current-slider .swiper-button-disabled {
  @apply !text-brand-gray-200 !cursor-default
}


.current-img-slider .swiper-pagination-bullet {
  @apply !bg-white !w-3 !h-0.75 !opacity-100
}

.current-img-slider .swiper-pagination-bullet-active {
  @apply !bg-primary
}

.no-scroll::-webkit-scrollbar {
  @apply !size-0;
}
